<div class="login-page">
  <mat-card class="login-box">
    <h1 class="mb-2">Welcome to Account App</h1>
    <h2>Login</h2>
    <mat-form-field appearance="outline" class="login-input">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username">
      <mat-hint class="error-msg">Username is required</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="login-input">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Password">
      <mat-hint class="error-msg">Password is required</mat-hint>
    </mat-form-field>
    <button mat-flat-button color="primary" class="mt-large color-white">Login</button>
  </mat-card>
</div>
